# DB Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=iot_db

# Grafana Credentials
GRAFANA_ADMIN_PASSWORD=your_grafana_password_here

# n8n Credentials
N8N_ENCRYPTION_KEY=generate_a_random_string_here